@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";

$darkblue: #2B2D33;
$teal: #00CCCC;

body {
  background-color: $darkblue;
  @media #{$small-only} { 
    background-color: $white;
  }
}

#header-block {

  header {
    background-color: $darkblue;
    background-image: url('/images/border.png');
    background-repeat: repeat-x;
    display: inline-block;
    width: 100%;
    height: 100px;
    @media #{$small-only} { 
      height: 0;
    }

    a {
      color: $teal;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
    }

    .title {
      letter-spacing: 10px;
      word-spacing: 40px;
      // margin: 40px;
      margin-top: 2%;
      margin-left: 13.5%;
      max-width: 600px;
      font-size: 50px;
    }
    
    .bird {
      background-image: url('/images/logo.png');
      background-repeat: no-repeat;
      background-size: 80%;
      position: absolute;
      color: white;
      height: 80px;
      width: 120px;
      top: 4%;
      left: 26%;
      @media #{$small-only} { 
        top: 15%;
        background-size: 50%;
        left: 0%;
      }
    }

    .top-nav ul {
      position: absolute;
      left: 56%;
      top: 6%;
      padding-bottom: 1%;
      border-bottom: 5px solid $teal;
      word-spacing: 15px;
      font-size: 15px;
      letter-spacing: 2px;
    }

    .top-nav ul li {
      display: inline;
    }
  }
  .top-bar {
    background-color: $darkblue;
    background-image: url('/images/border.png');
    background-repeat: repeat-x;
    position: relative;
    width: 100%;
    height: 60px;
    // margin-top: 5px;

    h1 {
      position: absolute;
      left: 17%;
      width: 100%;
      span {
        color: $white;
      }
    }
  }
}

#content-block {
  background-color: $white;
  position: relative;
  top: 50px;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 170px;
  @media #{$small-only} { 
    padding: 0;
    top: -15px;
  } 

  .turtlebird {
    position: relative;
    background-image: url('/images/scenery.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 4px solid $black;
    height: 270px;
    width: 730px;
    left: -10%;
    @media #{$small-only} { 
      // min-width: 484.5px;
      max-width: 115%;
      background-size: cover;
      // left: -66%;
      // max-width: 730px;
    }
  }


  .features {
    background-color: $teal;
    position: absolute;
    left: -22%;
    height: 270px;
    text-align: center;
    list-style-type: none;
    width: 130%;
    @media #{$small-only} { 
      width: 100%;
      margin: auto;
      left: 0;
      position: relative;
    } 

    li {
      padding: 12px;
      margin-bottom: 7px;
      // margin: 0px 20px 7px 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      border-bottom: 1px solid $darkblue;
      letter-spacing: 2px;
      font-size: 15px;
      span {
        color: $white;
      }
    }

    .black {
      background-color: $darkblue;
      color: $teal;
    }
  }

  .description {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    left: -5%;
    margin-top: 15px;
    @media #{$small-only} { 
      position: relative;
      left: 0;
      // padding: 20px;
    }
  }
}

.footer-block {
  position: relative;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  // height: 300px;
  bottom: -5%;
  // width: 100%;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 15px;
  // border-left: 5px solid $teal;
  @media #{$small-only} { 
    bottom: -28%;
    background-color: $darkblue;
    height: 25%;
  }
  
  a {
    color: $teal;
    // margin: 10%;
  }

  .bottom-nav {
    // position: absolute;
    bottom: 35%;
    left: -4.5%;
    width: 100%;
    text-align: left;
    padding: 40px;
    @media #{$small-only} { 
      padding: 15px;
    }
  }

  .left-nav {
    padding: 20px;
    border-left: 3px solid $teal;
    // background-color: red;
    @media #{$small-only} { 
      border: none;
    }
  }

  .middle-nav {
    padding: 20px;
    border-left: 3px solid $teal;
    // background-color: yellow;
  }

  .right-nav {
    padding: 20px;
    border-left: 3px solid $teal;
    // background-color: pink;
    @media #{$small-only} { 
      border: none;
    }
  }

  footer {
    width: 74%;
    text-align: center;
    background-color: $teal;
    position: absolute;
    bottom: -14%;
    left: 13%;
    @media #{$small-only} { 
      background-color: $darkblue;
      width: 100%;
      left: 0;
    }


    h4 {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 15px;
      padding: 5px;
      @media #{$small-only} { 
        color: $white;
        padding: 20px;
        word-spacing: 5px;
        letter-spacing: 3px;
      }
    }
  }
}